/* , blogPostInfo, blogPostId,  blogPostTitle, blogPostText, blogPostCta */

.blogPost{
    /* width: 50%;
    height: 20%; */
    /* padding: .4em; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius: 5px;
}

.blogPostImage{
    min-width: 35rem;
    max-width: 35rem;
    height: 35rem;
    transform: translateX(2rem);
    position: relative;
}

.blogPostImage img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

.blogPostImage img::before{
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
    content: '';
    width: 50%;
    height: 50%;
    position: adsolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79,172,254,.8),
                                          rgba(0,242,254,.8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.blogPostId {
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 5rem 0;
}

.blogPostTitle{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe
}

.blogPostText{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,.7);    
}

.blogPostCta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
}

blogPostCta:hover{
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%,);
}

@media screen and (max-width: 1068){
    .blogPost{
        max-width: 80rem;
    }

    .blogPostImage{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .blogPost{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px){
    .blogPost{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blogPostImage{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}