.selectdiv {
    position: relative;
    float: center;
    margin: 50px 33%;
}

/* .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: list-item;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
} */