/* Main */
* {
    font-family: "Epilogue", sans-serif;
    font-size: 0.9rem;
  }

main {
    display: grid;
    grid-template-columns: auto auto;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

main h1 {
    font-size: 4.5rem;
}

main p {
    font-size: 1rem;
    width: 18rem;
    color: hsl(0, 0%, 41%);
    line-height: 1.2rem;
}

main button {
    display: inline-block;
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

#text-side {
    margin-top: 5rem;
}

.img-side img{
    height: 25rem;
}


/* Responsive */
@media (min-width: 300px) and (max-width: 480px) {

  * {
    font-size: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
  }

  main h2 {
    font-size: 2.5rem;
  }

  .imgSide img{
    height: 15rem;
  }
}