.pagination li{
    display: inline-block;
    justify-content: center;
    margin: 0 2px;
    text-align: center;
}

.pagination button {
    float: center;
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
    border: none;
    text-decoration: none;
    background-color: hsl(0, 0%, 8%);
}

.pagination button.active{
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination button:hover:not(.active) {
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    font-size: 15px;
}